 
.section1{
  
margin-top:25px;
 height: 588px;
margin-bottom: 100px;
}
 

.textconteiner {
  position: relative;
 
  flex-direction: column;
 
  z-index: 1;
  

}

.Titletextconteiner h1{

  font-weight: 700;
  font-size: 157px;
  line-height: 190.13px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF4E6;
  font-family: "Cormorant Upright", serif;
  white-space: nowrap;
  margin-bottom: -20px;
  margin-top: -30px;
 
}

.textconteiner p {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  letter-spacing: -4%;
  text-align: center;
  color: #FFF4E6;
  
}

.cotiner_img {
  display: block;
  justify-content: center;
 
  text-align: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
}

.cotiner_img img {
   max-width: 1312px;
  height: auto; /* السماح للارتفاع بالتكيف */
  border-radius: 48px;
  transition: all 0.3s ease; /* إضافة انتقالات سلسة */
}

/* SERCH */

.container22 {
  position: relative;
  top: -7.5rem;
  display: flex;
  flex-direction: column;
  
align-items: center;
}

.search-bar{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
 
  border-radius: 16px;
  width: 640px;
  height: 64px;
  border: 1px solid #FFB854;
}

.search-input{
 
  flex: 1;
  border: none;
  font-size: 16px;
  color: #666;
  outline: none;
}

/* Button container */
.button-container2 {
  display: flex;
  gap: 16px;


}

/* Button styles */
 
 


.button-container2 .primary-button {
  width: 256px;
  background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;  font-size: 20px;
  text-align: center;
  width: 252px;
  height: 64px;
  border-radius: 16px;
  border:  none;


}

.button-container2 .secondary-button {
  background-color: #fff5eb;
  color: #000000;
  font-family: "Inter", serif;   font-size: 20px;
  text-align: center;
  width: 252px;
  height: 64px;
  border-radius: 16px;
  border:  none;

}


button.mic-button {
  background-color: #151716;
  width: 50px;
  height: 56px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;

}


/*
/* ✅ ✅ ✅ 🌍 Media Queries 🌍 ✅ ✅ ✅ */

@media (max-width: 1428px) {
  .cotiner_img img {
    max-width: 1170px;
    height: auto;
    border-radius: 48px;
    transition: all 0.3sease;
}

.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 143px;
  line-height: 190.13px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF4E6;
  font-family: "Cormorant Upright", serif;
  white-space: nowrap;
  margin-bottom: -20px;
  margin-top: -30px;
}


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  width: 574px;
  height: 22px;
  height: 63px;
}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
  font-size: 18px;
  text-align: center;
}
button.secondary-button{
    color: #000000;
  font-family: "Inter", serif;
  font-size: 18px;
  text-align: center;
}
.button-container .button {
  width: 190px;
  height: 64px;
}
}


@media (max-width: 1258px) {
  .cotiner_img img {
    max-width: 1060px;
    height: auto;
    border-radius: 48px;
    transition: all 0.3sease;
}

.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 129px;
  line-height: 190.13px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF4E6;
  font-family: "Cormorant Upright", serif;
  white-space: nowrap;
  margin-bottom: -20px;
  margin-top: -30px;
}

.textconteiner p {
 
  font-size: 21px;
 
}
.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  width: 574px;
  height: 22px;
  height: 63px;
}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
  font-size: 18px;
  text-align: center;
}
button.secondary-button{
    color: #000000;
  font-family: "Inter", serif;
  font-size: 18px;
  text-align: center;
}
.button-container .button {
  width: 190px;
  height: 64px;
}
}


@media (max-width: 1142px) {
  .cotiner_img img {
    max-width: 950px;
    height: auto;
    border-radius: 48px;
    transition: all 0.3sease;
}

 
.textconteiner p {
 
  word-wrap: break-word;
  font-size: 21px;
 
}
.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 112px;
  line-height: 190.13px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF4E6;
  font-family: "Cormorant Upright", serif;
  white-space: nowrap;
  margin-bottom: -20px;
  margin-top: -30px;
}


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  width: 474px;
  height: 62px;
  
}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
  font-size: 18px;
  text-align: center;
}
button.secondary-button{
    color: #000000;
  font-family: "Inter", serif;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}
.button-container .button {
  width: 159px;
  height: 60px;
   
}
.container22 {
  position: relative;
  top: -5.5rem;
  display: flex
;
  flex-direction: column;
  align-items: center;
}
}


@media (max-width: 1000px) {
  .cotiner_img img {
    max-width: 810px;
    
    border-radius: 48px;

     transition: all 0.3sease;
}

 
.textconteiner p {
 
  word-wrap: break-word;
  font-size: 18px;
 
}
.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 98px;
  line-height: 190.13px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF4E6;
  font-family: "Cormorant Upright", serif;
  white-space: nowrap;
  margin-bottom: -20px;
  margin-top: -30px;
}


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  width: 400px;
  height: 52px;
 
}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
   text-align: center;
   font-size: 10px;
}
button.secondary-button{
  color: #000000;
  font-family: "Inter", serif;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
.button-container .button {
  width: 130px;
  height: 60px;
   
}

button.mic-button {
  background-color: #151716;
  width: 50px;
  height: 46px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button.mic-button img {
   width: 20px;
  height: 26px;
 
  cursor: pointer;
}
.button-container .button {
  width: 141px;
  height: 48px;
  font-size: 17px;
}

}


@media (max-width: 768px) {
  .cotiner_img img {
    max-width: 630px;
     
    border-radius: 28px;

     transition: all 0.3sease;
}

 
.textconteiner p {
 
  word-wrap: break-word;
  font-size: 14px;
 
}
.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 73px;
  line-height: 190.13px;
  letter-spacing: 0%;
  text-align: center;
  color: #FFF4E6;
  font-family: "Cormorant Upright", serif;
  white-space: nowrap;
  margin-bottom: -60px;
  margin-top: -60px;
}


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  width: 400px;
  height: 52px;
 
}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
   text-align: center;
   font-size: 10px;
}
button.secondary-button{
  color: #000000;
  font-family: "Inter", serif;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
.button-container .button {
  width: 130px;
  height: 60px;
   
}

button.mic-button {
  background-color: #151716;
  width: 50px;
  height: 46px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button.mic-button img {
   width: 20px;
  height: 26px;
 
  cursor: pointer;
}
.button-container .button {
  width: 141px;
  height: 48px;
  font-size: 17px;
}
.container22 {
  position: relative;
  top: -3.5rem;
  display: flex
;
  flex-direction: column;
  align-items: center;
}
}



@media (max-width: 425px) {
  .cotiner_img img {
    width: 361px;
    height: 488px;
    object-fit: cover;
    border-radius: 48px;
         
    border-radius: 28px;
    object-position: 50% 40%;
 }

.cotiner_img {
 
  margin-top: -103px;
}
.textconteiner{
  display: flex;
  align-items: center;
  margin-top: -35px;
  
}
 
.textconteiner p {
 
   width: 361px;
   height: 38px;
   

 
font-size: 16px;
line-height: 100%;
letter-spacing: -4%;
text-align: center;


}
.Titletextconteiner{
  width: 361px;
  height: 160px;
  display: block;
  

}
.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 66px;
  white-space: pre-line;
  margin-bottom: -60px;
  margin-top: -10px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: -10px;
position: absolute;
 }


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
 
  
  width: 361px;
height: 52px;
 

}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
   text-align: center;
   font-size: 10px;
}
button.secondary-button{
  color: #000000;
  font-family: "Inter", serif;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
.button-container .button {
  width: 130px;
  height: 60px;
   
}

button.mic-button {
  background-color: #151716;
  width: 50px;
  height: 46px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button.mic-button img {
   width: 20px;
  height: 26px;
 
  cursor: pointer;
}
.button-container .button {
  width: 141px;
  height: 48px;
  font-size: 17px;
}
.container22 {
  position: relative;
  top: -8.0rem;
  display: flex
;
  flex-direction: column;
  align-items: center;
}
}

@media (max-width: 320px) {
  .cotiner_img img {
    width: 300px;
    height: 488px;
    object-fit: cover;
    border-radius: 48px;
         
    border-radius: 28px;
    object-position: 50% 40%;
 }

.cotiner_img {
 
  margin-top: -900px;
}
.textconteiner{
  display: flex;
  align-items: center;
  margin-top: -30px;
  
}
 
.textconteiner p {
 
   width: 300px;
   height: 38px;
   

 
font-size: 13px;
line-height: 100%;
letter-spacing: -4%;
text-align: center;


}
.Titletextconteiner{
  width: 361px;
  height: 160px;
  display: block;
  

}
.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 55px;
  white-space: pre-line;
  margin-bottom: -60px;
  margin-top: -10px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: -10px;
position: absolute;
 }


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
 
  
  width: 340px;
height: 52px;
 

}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
   text-align: center;
   font-size: 10px;
}
button.secondary-button{
  color: #000000;
  font-family: "Inter", serif;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
.button-container .button {
  width: 130px;
  height: 60px;
   
}

button.mic-button {
  background-color: #151716;
  width: 50px;
  height: 46px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button.mic-button img {
   width: 20px;
  height: 26px;
 
  cursor: pointer;
}
.button-container .button {
  width: 141px;
  height: 48px;
  font-size: 17px;
}
.container22 {
  position: relative;
  top: -9.0rem;
  display: flex
;
  flex-direction: column;
  align-items: center;
}
}



@media (max-width: 375px) {
  .cotiner_img img {
    width: 250px;
    height: 488px;
    object-fit: cover;
    border-radius: 48px;
         
    border-radius: 28px;
    object-position: 50% 40%;
 }

.cotiner_img {
 
  margin-top: -103px;
}
.textconteiner{
  display: flex;
  align-items: center;
  margin-top: -35px;
  
}
 
.textconteiner p {
 
   width: 250px;
   height: 38px;
   

 
font-size: 12px;
line-height: 100%;
letter-spacing: -4%;
text-align: center;


}
.Titletextconteiner{
  width: 361px;
  height: 160px;
  display: block;
  

}
.Titletextconteiner h1 {
  font-weight: 700;
  font-size: 44px;
  white-space: pre-line;
  margin-bottom: -60px;
  margin-top: -10px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: -10px;
position: absolute;
 }


.search-bar {
  display: flex
;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 4px 4px 16px;
  margin-bottom: 16px;
  border-radius: 16px;
 
  
  width: 300px;
height: 52px;
 

}

.primary-button {
   background-color: #ff9500;
  color: #000000;
  font-family: "Inter", serif;
   text-align: center;
   font-size: 10px;
}
button.secondary-button{
  color: #000000;
  font-family: "Inter", serif;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
.button-container .button {
  width: 1px;
  height: 60px;
   
}

button.mic-button {
  background-color: #151716;
  width: 50px;
  height: 46px;
  padding: 10px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button.mic-button img {
   width: 20px;
  height: 26px;
 
  cursor: pointer;
}
.button-container .button {
  width: 141px;
  height: 48px;
  font-size: 17px;
}
.container22 {
  position: relative;
  top: -9.0rem;
  display: flex
;
  flex-direction: column;
  align-items: center;
}
}