.section5{
  font-family: "Cormorant Upright", serif;
  background-color: #faf4e9;
   
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  height: 818px;
 width: 100%;
 padding: 30px 40px;
align-items: center;
gap: 16px;
}
.border{
 }
 
.section5Contint1{
  width: 1312px;
  height: 649px;
 gap: 16px;
  display: flex;
}
.section5Contint1imgText{
  width: 720px;
height: 649px;
display: flex;
flex-direction: column;
  }

.section5Contint1imgText img{
margin-top: -160px;
}

.section5Contint1imgTexth1{
  width: 400px;
  height: 234px;
 margin-top: -60px;
 
  
}
.section5Contint1imgTexth11{
  font-weight: 700;
  font-size: 64px;
  line-height: 77.5px;
  letter-spacing: 0%;
  text-align: center;
color: #151716;
margin-bottom: -60px;
}
.section5Contint1imgTexth112 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77.5px;
  letter-spacing: 0%;
  text-align: center;
color: #FF9500;
margin-bottom: -50px;
;
}
.section5Contint1imgTextimg h2 {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 77.45px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: -100px;
  margin-left: 450px;
  color: #ffffff;
}
.section5Contint1imgTexth11hert{
  margin-bottom:  -10px;
  margin-left: -10px;
}

.section5Contint1imgcontint{
  width: 576px ;
height: 649px;
overflow: hidden;
overflow-y: scroll;  /* تفعيل الاسكرول الأفقي */
 scroll-behavior: smooth;  /* تجعل التمرير ناعماً */

} 

.section5Contint1imgcontintcards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section5Contint1imgcontint::-webkit-scrollbar {
  display: none;
}
 
.section5Contint1imgcontintcard{
width: 576px;
height: 264px;
gap: 24px;
padding: 32px;
background-color: #FFDEB0;
border-radius: 48px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 24px;

}
 .section5Contint1imgcontintcard.New{

  background-color: #151716;
  
 }
 .section5Contint1imgcontintcard p:hover{
 
 }
.section5Contint1imgcontintcard p{
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
color: #000000;  
}
.section5Contint1imgcontintcardStar{
  color: #FFB854;
  font-weight: bold;
  font-size: 23px;
 
}
.section5Contint1imgcontintcardprofil{
display: flex;
gap: 8px;
}
.section5Contint1imgcontintcardprofiltext h2{
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}

.section5Contint1imgcontintcardprofiltext p{
  font-family: "Inter", serif;
font-weight: 300;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color: #575757bf;
}

 .section5Contint2{
  width: 1311px;
height: 104px;
  display: flex;
justify-content: space-between;
border-radius: 48px;
padding: 24px;
background: #151716;

align-items: center;

}
.section5Contint2 h2{
 font-weight: 700;
font-size: 40px;
line-height: 48.44px;
letter-spacing: 0%;
text-align: center;
color: #FFF4E6;
}


.show-all-buttonSection5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFDEB0;
  color: black;
  font-size: 16px;
  font-family: Arial, sans-serif;
   
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
 
  transition: transform 0.2s, box-shadow 0.2s;
 
  width: 156px;
height: 56px;
gap: 8px;
border-radius: 16px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 16px;

 
}

.show-all-buttonSection5:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.show-all-buttonSection5 .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: black;
  border-radius: 14px;
  margin-left: 8px;
  cursor: pointer;
}


.section5Contint1imgcontintcard.hoveredCard {
  background-color: #151716; /* تغيير الخلفية */
  color: white; /* تغيير اللون النصوص */
  transition: all 0.3s ease; /* إضافة تأثير الانتقال */

}

.section5Contint1imgcontintcard.hoveredCard p {
  color: white; /* تغيير لون النصوص داخل الكارد */
}

.section5Contint1imgcontintcard.hoveredCard h2 {
  color: white; /* تغيير لون العنوان */
}