.edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #ff9500;
  border: none;

  color: #151716;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  width: 88px;
  height: 45px;

  border-radius: 12.95px;
  padding-top: 3.24px;
  padding-right: 3.24px;
  padding-bottom: 3.24px;
  padding-left: 12.95px;
}

.edit-button:hover {
  background-color: #e68600;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-button:active {
  transform: translateY(0);
}

 

.Edit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151716;
  border-radius: 8px;
  width: 38.83636474609375px;
  height: 38.83636474609375px;
  gap: 8.09px;
  border-radius: 12.95px;
  padding: 8.09px;
}

@media (max-width: 425px) {
  .button-icon {
 
    width: 27px;
    height: 27px;
    gap: 8.09px;
    border-radius: 8.95px;
    padding: 8.09px;
}
}

  