
.Headerall{
width: 100vw;
display: flex;
justify-content: center;
}
.Header {
  width: 1312px;
 
  box-sizing: border-box; /* تضمين الحشو والحدود في العرض */
 
}

.HeaderContinent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* السماح للعناصر بالانتقال إلى سطر جديد عند الحاجة */
 
}

.HeaderContinentlogo {
  width: 891px; /* استخدام 70% من عرض الحاوية الأب */
  height: auto; /* السماح للارتفاع بالتمدد حسب المحتوى */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderContinentlogoImgTitel {
  display: flex;
  gap: 8px; /* استخدام 1% من عرض منفذ العرض للمسافة بين العناصر */
  align-items: center;
}

.HeaderContinentlogoImgTitel h2 {
  font-family: "Cormorant Upright", serif;
  font-weight: 600;
  font-size: 32px; /* استخدام 2.5% من عرض منفذ العرض لحجم الخط */
  line-height: 1.2em; /* استخدام em لارتفاع السطر */
  letter-spacing: 0%;
  text-align: right;
  color: #FFFFFF;
}

.navbar-list {
  display: flex;
  gap: 2vw; /* استخدام 2% من عرض منفذ العرض للمسافة بين العناصر */
  list-style-type: none;
  flex-wrap: wrap; /* السماح للعناصر بالانتقال إلى سطر جديد عند الحاجة */
  justify-content: center; /* توسيط القائمة على الشاشات الصغيرة */
}

.navbar-item {
  color: #FFF4E6BF;
  text-decoration: none;
  font-size: 20px; /* استخدام 1.5% من عرض منفذ العرض لحجم الخط */
  font-family: "Cormorant", serif;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: color 0.3s, font-size 0.3s ease-in-out;
}

.navbar-item:hover {
  cursor: pointer;
  color: #ffffff;
}

.navbar-item.active  {
  color: #FF9500;
  text-decoration: underline;
}


.HeaderContinentlogoButton {
  display: flex;
  align-items: center;
  gap: 2vw; /* استخدام 2% من عرض منفذ العرض للمسافة بين العناصر */
}

.HeaderContinentlogoButton1 {
  width: 112px;
  height: 59px;
 
  border-radius: 48px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  
  background-color: #FF9500;
  color: black;
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px; /* استخدام 1.3% من عرض منفذ العرض لحجم الخط */

  text-align: center;
  border: none;
 
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
text-align: center;

 }

.HeaderContinentlogoButton2 {
  width: 25px; /* استخدام 3% من عرض منفذ العرض للعرض */
  height: 25px; /* استخدام 3% من عرض منفذ العرض للارتفاع */
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* تعديلات للشاشات الصغيرة */
 