footer {
  bottom: 50%;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column; /* لجعل العناصر تحت بعضها */
  justify-content: center; /* لمحاذاة العناصر عموديًا في منتصف الشاشة */
  align-items: center;
  width: 1440px;
  height: 476px;
  top: 4203px;
 
}
.foterindex{
  display: flex
  ;
      justify-content: center;
}

.logo-container0 {
  margin-bottom: 20px;
  width: 226px;
  height: 48px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

.logoo {
  width: 48px;
  height: 48px;
}

.restaurant-name0 {
  width: 170px;
  height: 30px;
  font-family: Cormorant Upright;
  font-weight: 600;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  margin-left: 150px;
  margin-top: -43px;
}

.newsletter0 p {
  width: 507px;
  height: 88px;
  font-family: Inter;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.57px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff4e6;
  margin-top: 24px;
  margin-bottom: 16px;
}

.email-subscribe00 {
  position: relative;
  left: 3.2rem;
  margin-left: -40px;
}

.email-subscribe00 input {
  gap: 10px;
  width: 507px;
  height: 52px;
  justify-content: space-between;
  border-radius: 16px;
  border-width: 1px;
  background: #fff4e6;
  border: 1px solid #ff9500;
  padding: 10px;
  border-radius: 16px;
  outline: none;
  width: 507px;
  height: 52px;
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0%;
  text-align: left;
  color: #15171640;
}

.email-subscribe00 button {
  border: none;
  border-radius: 16px;
  background: #151716;
  color: #ffffff;
  cursor: pointer;
  font-family: "Inter", serif;
  font-size: 13px;
  text-wrap: flex;
  transition: 0.3s;
  position: relative;
  right: 105px;
  white-space: nowrap;
  overflow: hidden; /* لإخفاء النص الزائد */
  text-overflow: ellipsis;
  width: 94px;
  height: 48px;
  gap: 10px;
  border-radius: 16px;
  padding: 10px;
  align-items: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff4e6;
  margin-top: -1px;
}

.footer-menu0 {
  margin-top: 32px;
  width: 520px;
  height: 30.000011444091797px;
  gap: 48px;
  margin-right: 50px;
}

.footer-menu0 a {
  font-size: 20px;
  color: #fff4e6bf;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  font-family: "Cormorant Upright", serif;
}

.footer-menu0 a:hover {
  color: #ff9500;
  border-bottom: 1px solid #ff9500;
}

.copyright0 {
  margin-top: 20px;
  color: #aaa;
  width: 1178px;
  height: 30px;
}

.copyright0 p {
  margin-top: 20px;
  color: #aaa;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: right;
  color: #fff4e6;
}
.line0 {
  width: 1440px;
  height: 2px;
  top: 474px;
  background: #ff9500;
  margin-top: 37px;
}
@media (max-width: 1024px) {
  .line0 {
    width: 1093px;
  
  }
  .copyright0 p {
    margin-top: 0px;
    color: #aaa;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

}
@media (max-width: 600px) {
  footer {
    width: 393px;
    height: 400px;
    top: 5250px;
    padding: 88px;
    margin: 88px;
  }
  .logo-container0 {
    width: 188.6666717529297px;
    height: 40px;
    gap: 6.67px;
    text-align: center;
    margin-left: 30px;
  }
  .newsletter0 p {
    width: 361px;
    height: 58px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 50px;
  }
  .email-subscribe00 input {
    width: 361px;
    height: 52px;
    justify-content: space-between;
    border-radius: 16px;
    border-width: 1px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    margin-left: 25px;
  }
  .email-subscribe00 button {
    width: 76px;
    height: 48px;
    gap: 10px;
    border-radius: 16px;
    padding: 10px;
    background: #151716;
    right: -153px;
    top: -49px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .footer-menu0 {
    width: 361px;
    height: 30px;
    justify-content: space-between;
    margin-top: -12px;
    margin-right: 50px;
    margin-bottom: -12px;
    margin-left: 120px;
  }
  .footer-menu0 a {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Cormorant Upright", serif;
    width: 35px;
    height: 30px;
    gap: 10px;
  }
  .copyright0 p{
    width: 461px;
    height: 36px;
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    letter-spacing: 0%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center; /* توسيط عمودي */
    text-align: center; /* محاذاة النص */
    /* يجعل العنصر يأخذ ارتفاع الشاشة بالكامل */
   margin-left: 400px;
 
   
  }
  .line0 {
    width: 1440px;
    height: 2px;
    top: 474px;
    background: #ff9500;
    margin-top: 37px;
  }
}
