.section4 {
  font-family: "Cormorant Upright", serif;
 display: flex;
 flex-direction: column;
 align-items: center;
  
 
}

 

.food-selection h2 {
  font-size: 90px;
  font-weight: 700;
  color: white;
 
}

.navbar22 {
  margin-top: -38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 13px;
 
  width: 923px;
height: 83px;
 
padding: 8px;

}

.navbar22 button {
  background-color: white;
  color: #ff9500;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  padding: 20px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  flex-grow: 1;
  width: 180px;
  height: 68px;
}

.navbarscroll .navbar224  {
background-color: #ff9500;
color: white;
}
.navbar225:hover{
  background-color: #ffe6c5;

}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  margin-top: 19px;
 
 
  

}

.card {
  background-color: #fff4e6;
  border-radius: 48px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 310px;
  height: 381px;
  overflow: hidden;
  display: flex
;
  flex-direction: column;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;

}
.cardtextandheart {
  display: flex
;
  /* gap: 50px; */
  width: 247px;
  height: 42px;
  margin-left: -8px;
  justify-content: space-between;
}
.cardtextandheart img {
  width: 29px;
  height: 25px;
}
.card .content {
  display: flex;
  height: 38%;
  justify-content: space-between;
  align-items: center;
  padding: 19px;
  flex-direction: column;
}

.card .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card h3 {
  font-size: 28px;
  font-weight: 700;
  position: relative;
  top: -3px;
  left: -12px;
  margin: 0 0 8px 0;
}

.card p {
  color: #1517167c;
  margin: -15px 0 0 0;
  line-height: 21px;
  margin-top: -5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0%;
  font-family: "Inter", serif;
}
.cardpargraph{
  max-width: 247px;
  max-height: 36px;
 
    margin-left: -20px;
}


.cardhandelstartandprise {
  display: flex
;
  gap: 50px;
  margin-top: -4px;
  max-width: 278px;
  height: 30px;
}
.cardhandelstartandprise .stadprisersan {
  color: #ffb854;
  font-weight: bold;
  font-size: 23px;
  position: relative;
  top: 8px;
  display: flex
;
  gap: 10px;
  left: -30px;
}

.cardhandelstartandprise h2 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin: 0;
  text-align: right;
  position: relative;
  left: 13px;
  top: -3px;
}
.imgcardef{

}
.card .price {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin: 0;
  text-align: right;
  position: relative;
  top: 45px;
  left: 5px;
}

.card .stars {
  color: #ffb854;
  font-weight: bold;
  font-size: 23px;
  position: relative;
  top: 10px;
}
.buutonshowall{

}

.show-all-button {
  display: flex
;
  align-items: center;
  justify-content: center;
  background-color: #ff9500;
  color: black;
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 2px 5px;
  margin: 27px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 151px;
  height: 56px;
}

.show-all-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.show-all-button .icon-container {
  display: flex
;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 14px;
  margin-left: 12px;
  cursor: pointer;
  position: relative;
  left: 7px;
}

/* استعلامات الوسائط */
@media (max-width: 1024px) {
  .food-selection h2 {
    font-size: 55px;
  }


  .navbar22 {

    width: 742px;
    height: 83px;
     
}

  .card {
    width: 227px;
    height: 303px;
    border-radius: 30px;
            width: 227px;
        height: 303px;
        border-radius: 30px;
  }

  .cards {
    justify-content: space-evenly;
    gap: 20px;
  }
  .card p {
   
    margin-top: -9px;
  }

  .show-all-button {
    width: 140px;
    left: 25rem;
  }

  .stadprisersan {
    color: #ffb854;
     font-size: 16px;
   
    display: flex;
    gap: 10px;
  }

  .cardhandelstartandprise .stadprisersan {
    color: #ffb854;
    font-weight: bold;
    font-size: 23px;
    position: relative;
    top: 15px;
    display: flex
;
    gap: 10px;
    position: relative;
    left: -10px;
    top: 11px;
}
.cardhandelstartandprise h2 {
  font-size: 37px;
}
  .card h3 {
    font-size: 21px;
  }
  
}

/* استعلامات الوسائط */
@media (max-width: 768px) {
  .food-selection h2 {
    font-size: 45px;
  }


  .navbar22 {

    width: 642px;
    height: 73px;
     
}

  .card {
    width: 450px;
    height: 403px;
    border-radius: 30px;
     
    border-radius: 30px;


  }
  .cardhandelstartandprise {
    display: flex
;
    gap: 94px;
    margin-top: 3px;
}

.card p {
  margin-top: -7px;
  font-size: 21px;
}

 

  .cardsection{
    width: 900px;
 overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
     max-width: 740px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .cards {
    overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
    display: flex;
    justify-content: space-evenly;
    gap: -10px;
    width: 1200px;
    
  
   }

   .cardsection::-webkit-scrollbar {
    display: none;
  }
 
  .show-all-button {
    width: 140px;
    left: 25rem;
  }

  .stadprisersan {
    color: #ffb854;
     font-size: 16px;
   
    display: flex;
    gap: 10px;
  }

  .cardhandelstartandprise .stadprisersan {
    color: #ffb854;
    font-weight: bold;
    font-size: 23px;
    position: relative;
    top: 11px;
    display: flex
;
    gap: 1px;
}
.cardhandelstartandprise h2 {
  font-size: 37px;
}
  .card h3 {
    font-size: 27px;
  }
  
}
 
/* استعلامات الوسائط */
@media (max-width: 425px) {
  .food-selection h2 {
    font-size: 38px;
  }

  .card h3 {
    font-size: 27px;
    margin-left: 14px;
}
  

  .navbarscroll{
    width: 425px;
    min-width: 425px; 
     overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
     margin-top: -23px;
  }

  .cardhandelstartandprise {
    display: flex
;
    gap: 94px;
    margin-top: -17px;
  }

  .navbar22 {

    width: 742px;
    height: 172px;
    margin-bottom: -40px;
    overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
     padding-left: 20px;
     padding-right: 20px;
     

}
.navbar22 button {
   
   
  height: 55px;
}

.navbarscroll::-webkit-scrollbar {
  display: none;
}

 

  .cardsection{
    width: 900px;
 overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
     max-width: 424px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .cards {
    overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
    display: flex;
    justify-content: space-evenly;
    gap: -10px;
    width: 1200px;
    
  
   }

   .card {
    width: 278px;
    height: 336px;


  }
  .card .content {
    display: flex
;
    margin-left: -8px;
}

   
   .cardsection::-webkit-scrollbar {
    display: none;
  }
  .card p {
    margin-top: -7px;
    font-size: 14px;
}
.show-all-button {
  width: 154px;
    left: 25rem;
  }

  .stadprisersan {
    color: #ffb854;
     font-size: 16px;
   
    display: flex;
    gap: 10px;
  }
  .cardhandelstartandprise .stadprisersan {
    color: #ffb854;
    font-weight: bold;
    font-size: 19px;
    position: relative;
    top: 15px;
    display: flex
;
    gap: 1px;
}
.cardhandelstartandprise h2 {
  font-size: 37px;
}
.cardpargraph {
  max-width: 247px;
  max-height: 36px;
  margin-left: 4px;
}
}
 
/* استعلامات الوسائط */
@media (max-width: 375px) {
  .food-selection h2 {
    font-size: 35px;
    margin-bottom: -5px;
  }


  .navbarscroll{
    width: 375px;
    min-width: 375px; 
     overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
   
  }


  .navbar22 {

    width: 742px;
    height: 132px;
    margin-top: 5px;
    margin-bottom: -20px;
    overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
     padding-left: 20px;
     padding-right: 20px;
     
}

.navbarscroll::-webkit-scrollbar {
  display: none;
}

 

  .cardsection{
    width: 900px;
 overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
     max-width: 375px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .cards {
    overflow: hidden;
    overflow-x: scroll;  /* تفعيل الاسكرول الأفقي */
     scroll-behavior: smooth;  /* تجعل التمرير ناعماً */
    display: flex;
    justify-content: space-evenly;
    gap: -10px;
    width: 1200px;
    
  
   }

   .card {
    width: 350px;
    height: 403px;
    border-radius: 30px;
     
    border-radius: 30px;


  }

   .cardsection::-webkit-scrollbar {
    display: none;
  }
  .card p {
    margin-top: -7px;
    font-size: 21px;
}

  .show-all-button {
    width: 140px;
    left: 25rem;
  }

  .stadprisersan {
    color: #ffb854;
     font-size: 16px;
   
    display: flex;
    gap: 10px;
  }

  .cardhandelstartandprise .stadprisersan {
    color: #ffb854;
    font-weight: bold;
    font-size: 23px;
    position: relative;
    top: 11px;
    display: flex
;
    gap: 1px;
}
.cardhandelstartandprise h2 {
  font-size: 37px;
}
.card h3 {
  font-size: 27px;
}
   
 
}
 